<div class="centerBox">
  <div class="childContainer borderDefault">
    <div class="loginTitle">
      <img src="/images/RESERVER (1).png">
    </div>
    <hr class="borderDefault">

    <div id="errorContainer">
      {{errMsg}}
    </div>

    <form action="/forgot-password-verify" method="post" id="securityQuestionsForm">
      <input type="hidden" name="email" value="{{email}}">
      <input type="hidden" name="token" value="{{token}}">
      
      <div class="security-questions-container">
        <h3>Security Questions Verification</h3>
        <p class="security-subtitle">Please answer 2 of your security questions correctly</p>
        <p class="attempts-info">Attempts remaining: <span id="attemptsRemaining">{{attemptsRemaining}}</span></p>
        
        {{#each securityQuestions}}
        <div class="question-pair">
          <label class="question-label">{{this.question}}</label>
          <input class="inputBox security-answer" type="text" 
                 placeholder="Your answer" 
                 name="securityAnswers" 
                 data-question="{{this.question}}"
                 required>
        </div>
        {{/each}}
      </div>

      <input class="button" type="submit" value="Verify Answers" id="verifyBtn">
    </form>

    <hr class="borderDefault">
    <h4><a href="/forgot-password">Try different email</a></h4>
  </div>
</div>

<script src="/js/forgot-password.js"></script>