<link rel="stylesheet" href="/common/profile.css">
<script src="/common/profile.js"></script>

<main>
        <img id="prof-pic" src="{{user.pfp}}">
        <h1 id="name">{{user.username}}</h1>
        <p id="bio">{{user.bio}}</p>
        <div id="prof-buttons-div">
            <form action="edit-profile" method="get">
                <button type="submit" class="save">Edit profile</button>
            </form>
            <button type="button" class="delete-button">Delete profile</button>
        </div>
        <h2>Current Reservations:</h2>

        {{#each reserves}}
        <details>
            <summary>{{room}} - {{bookDateShortVerbose}} {{timeFrame}}</summary>
            <p>Laboratory: {{room}}</p>
            <p>Seat Number: {{seat}}</p>
            <p>Reservation: {{bookDateVerbose}} {{timeFrame}}</p>
            <p>Requested: {{dateLogged}} {{timeLogged}} (UTC+00:00)</p>
            <div id="resv-buttons-div">
                <form action="/editReservation" method="get">
                    <button type="submit" value="{{room}}" name="roomNum" id="roomNum">Edit/Delete Reservation</button>
                </form>
            </div>
        </details>
        {{/each}}

        <!-- PASSWORD CONFIRMATION MODAL -->
        <div id="passwordConfirmModal" class="modal" style="display:none; justify-content:center; align-items:center;">
            <div class="modal-content" style="width: 350px;">
                <span id="closePasswordModal" class="close">&times;</span>
                <h3>Confirm Deletion</h3>
                <p id="passwordModalText"></p>

                <label for="adminPassword">Enter your password:</label>
                <input type="password" id="adminPassword" class="form-control" placeholder="Password">

                <button id="confirmDeleteBtn" class="btn btn-danger" style="margin-top: 15px;">Delete User</button>
            </div>
        </div>
    </main>